@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 100vh;
}